@model Ogloszenia_Lokalne_2.Models.Report

@{
    ViewBag.Title = "Delete";
}

<style type="text/css">

    #blok0 {
        background-color: #dddddd;
        width: 100%;
        padding: 200px;
        font-size: 50px;
        text-align: center;
    }
</style>

<div id="blok0">
    Chcesz usunąć zgłoszenie ogłoszenia o ID:
    @Html.DisplayFor(model => model.AdID)
    <br />
    <br />
    napisane przez użytkownika
    "@Html.DisplayFor(model => model.UserReported.Email)"?
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" style="width:140px" value="Usuń" class="btn btn-danger" />
        <input type="button" style="width:140px" value="Anuluj" class="btn btn-default" onclick="location.href='@Url.Action("Index")'" />
    }
</div>
