
@{
    ViewBag.Title = "NotExist";
}

<style>
    #blok0 {
        background-color: #dcdcdc;
        width: 100%;
        padding: 30px;
        padding-bottom: 100px;
        padding-top: 100px;
        text-align: center;
    }
</style>

<div id="blok0">
    <h2>Ogłoszenie nie istnieje!</h2>
</div>

