
@{
    ViewBag.Title = "PasswordLink";
}

<style type="text/css">

    #blok0 {
        background-color: #dcdcdc;
        width: 100%;
        padding: 30px;
        padding-bottom: 20px;
    }
    textarea, input {
        max-width: 120%
    }
</style>

<div id="blok0">

    <h2>Link pozwalający na zmianę hasła:</h2>

    <div class="form-group">
        <div class="col-md-10">
            <textarea class="form-control" style="width:120%" name="Description" rows="4">@ViewBag.Link</textarea>

        </div>
    </div>

    <input type="button" style="width:500px; margin-top:20px" value="Wejdź w powyższy link używając tego przycisku" class="btn btn-success"
           onclick="location.href = '@ViewBag.Link'" />

</div>

