@{
    ViewBag.Title = "Potwierdzenie resetowania hasła";
}
<style>
    #blok0 {
        background-color: #dcdcdc;
        width: 100%;
        padding: 30px;
        padding-bottom: 20px;
    }
</style>

<div id="blok0">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <p>
        Zresetowano hasło. 

        <input type="button" value="Zaloguj się" class="btn btn-success"
               onclick="location.href = '@Url.Action("Login", "Account", new { id = "loginLink" })'" />
    </p>
</div>
